/* Video List Container */
.video-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* gap: 20px;
    padding: 20px; */
  }
  
  /* Video Item */
  .video-item {
    background-color: #fff;
    border: 1px solid #ff0000; /* Red border accent */
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    display: flex; /* Display items as flex for horizontal alignment */
    flex-direction: row; /* Horizontal arrangement */
    align-items: center; /* Center content vertically */
    padding-right: 60px;
  }
  
  .video-item:hover {
    transform: translateY(-5px);
  }
  
  /* Video Link */
  .video-link {
    display: block;
    text-decoration: none;
    color: inherit;
    flex: 1; /* Expand link to take remaining space */
    padding: 10px;
    display: flex; /* Display link content as flex for horizontal alignment */
    flex-direction: column; /* Vertical arrangement for link content */
  }
  
  /* Video Thumbnail */
  .thumbnail-img {
    width: 100px; /* Adjust thumbnail width as needed */
    height: auto;
    margin-right: 10px; /* Add some spacing between thumbnail and description */
  }
  
  /* Video Details */
  .video-details {
    padding: 10px;
    flex: 2; /* Expand details to take more space */
  }
  
  /* Video Title */
  .video-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  /* Video Description */
  .description {
    font-size: 14px;
    color: #666;
  }
  