/* Home Container */
.youtube-homepage {
    background-color: #f9f9f9;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  

  .header-container {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 20px;
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative; 
  }
  
  /* Video List Container */
  .video-list-container {
    flex: 2; /* Expand video list to take more space */
    padding-right: 20px; /* Add some spacing between video list and side panel */
  }
  
  /* Search Bar */
  .searchBar {
    position: fixed; /* Fixed position to keep it on top */
    align-self: center;
    top: 20px; /* Adjust the top position as needed */
    left: 20px; /* Adjust the left position as needed */
    z-index: 999; /* Set a high z-index to ensure it's on top of other elements */
  }
  
  /* Add responsive styles for smaller screens */
  @media (max-width: 768px) {
    .header-container {
      flex-direction: column; /* Stack content on smaller screens */
      align-items: stretch;
    }
    .video-list-container {
      flex: 1; /* Expand video list to take full width on smaller screens */
      padding-right: 0; /* Remove right padding on smaller screens */
    }
  }
  