/* Video Player Container */
.video-player {
  margin: 50px auto 0 auto;
  width: 60%;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Video Title */
.video-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

/* Video Iframe */
iframe {
  width: clamp(75%, 85%, 100%);
  height: clamp(200px, 300px, 400px);
  border-radius: 25px;
  border: none;
  display: block;
  margin: auto;
}

/* Video Description Container */
.video-description-container {
  padding-top: 30px;
  max-height: 150px; 
  overflow-y: auto; 
  display: block;
  margin: auto;
}

/* Video Description */
.video-description {
  font-size: 16px;
  color: #333;
  padding-right: 10px;
  text-align: center;
}
  